<% random_names = ["Jason", "James", "Jack"] %>

<h1>GoodBye, <%= random_names.sample %></h1>
<p>The time now is: <%= formatted_time(@time) %></p>

<p><%= link_to "Google", "http://www.google.com" %></p>
<p><%= link_to "Hello", greeter_hello_path %></p>